@charset "utf-8";

header {
    background-color: blue;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1{
    background-color: aqua;
    width: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section2{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3{
    background-color: aqua;
    width: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: green;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

